// Theme colors
$main-color: #ccc;

//Background
$main-background-color:#fff;

// Text colors
$color-text-default: #222;
$color-text-label: #92939a;
$color-text-placeholder: #676871;

// Dots colors
$dot-empty: #fff;
$dot-active: #42d9e8;
$dot-user: #00e871;
$dot-computer: #e8595f;
