@import "~@/assets/scss/media";

.home-page {
  position: relative;
  max-width: 700px;
  width:100%;
  margin: 20px auto;

  &__title {
    font-size: 20px;
    font-weight: bold;
    color: #3f414b;
    padding: 10px;
  }


}
