.payment-form {
  padding: 20px 0px;

  &__form-group {
    margin-bottom: 15px;

    label {
      font-size: 16px;
      font-weight: bold;
      padding: 5px;
      display: inline-block;
    }
  }
}

